* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --blue-main:#58CFED;
    --white:#FFFFFF;
    --gray-subtitle:#8D8D8D;
}

body {
    font-family: 'DM Sans', sans-serif;
}

/* Barra de navegacion */

header.abajo {
    background-color: var(--white);
    -webkit-box-shadow: -1px 4px 18px -1px rgba(0,0,0,0.43);
    -moz-box-shadow: -1px 4px 18px -1px rgba(0,0,0,0.43);
    box-shadow: -1px 4px 18px -1px rgba(0,0,0,0.43);
    transition: all 400ms ease;
}

header.abajo .logoh {
    display: inline-block;
    height: 40px;
    width: 150px;
    background-image: url(./images/LOGO-LAEL-negro.png);
}

header.abajo .raya1 {
    background-color: black;
}

header.abajo .raya2 {
    background-color: black;
}

header.abajo .raya3 {
    background-color: black;
}

header {
    width: 100%;
    min-width: 320px;
    position: fixed;
    height: 90px;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


header .logoh {
    display: inline-block;
    height: 40px;
    width: 150px;
    margin-left: -50px;
    background-image: url(./images/LOGO-LAEL-3.png);
    transition: all 400ms ease;
}

header nav label {
    height: 9px;
    width: 10px;
}



.raya1 {
    width: 28px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    left: 81%;
    top: 31px;
    border-radius: 90px;
    transition:  all 400ms ease;
}

.raya2 {
    border-radius: 90px;
    width: 28px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    left: 81%;
    top: 40px;
    transition:  all 400ms ease;
}

.raya3 {
    border-radius: 90px;
    width: 28px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    left: 81%;
    top: 50px;
    transition:  all 400ms ease;
}

header nav ul {
    list-style: none;
    position: absolute;
    top: 5.5rem;
    left:0.1%;
    background-color: var(--white);
    opacity: .9;
    width: 100%;
    display: none;
    -webkit-box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.78);
-moz-box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.78);
box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.78);
}

header nav ul li {
    padding: 20px 0;
    text-align: center;
}

header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;

}

#check {
    display: none;
}

#check:checked ~ .checkbtn .raya1 {
    transform: rotate(135deg);
    top: 40px;
}

#check:checked ~ .checkbtn .raya2 {
    opacity: 0;
}

#check:checked ~ .checkbtn .raya3 {
    transform: rotate(-135deg);
    top: 40px;
}



#check:checked ~ ul {
    display: block;
}


/*Contenido principal */


#header-main {
    width: 100%;
    min-width: 320px;
    height: 750px;
    background-color: var(--blue-main);
    text-align: center;
}

#header-main img {
    width: 320px;
    margin-top: 160px;
    align-self: center;
}

/*Botton del inicio de "Conoce nuestros servicios */

.button-ser {
    position: absolute;
    background-color: var(--white);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 725px;
    left: calc(50% - 118px);
    padding: 10px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.42);
-moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.42);
box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.42);
}

.button-ser span img {
    display: inline-block;
    margin-left: 5px;
    width: 20px;
    height: 18px;
}


main {
    width: 100%;
    height: auto;
}

/*Seccion de las card, es decir; la zona de servicios */ 


.main-images-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    border-radius: 20px;
    height: 420px;
    min-width: 320px;
    text-align: center;
    margin: 30px auto;
}

.titles {
    width: 80%;
    min-width: 288px;
    margin: 0 auto;
}

.titles h2 {
    font-size: 20.5px;
    font-weight: 700;
    line-height: 10px;
    margin: 6px 0;
    color: var(--blue-main);
}

.container--button {
    margin-top: 30px;
}

.button-vermas {
    padding: 5px 110px;
    color: var(--blue-main);
    font-size: 15px;
    text-decoration: none;
   border: 2px solid var(--blue-main);
    border-radius: 20px;
}


.container--images img {
    border-radius: 20px;
    margin-bottom: 10px;
    max-width: 300px;
    width: 285px ;
    height: 285px;
    background-color: var(--just-white);
    background-position: center;
}


.main-images-container .button-ca {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 5px 40px;
    border: 2px solid var(--blue-main);
    background-color: var(--white);
    color: var(--blue-main);
    border-radius: 12px;
    text-decoration: none;
}

/*Esto es la seccion del mapa */

.section-map--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 320px;
    align-items: center;
    height: 400px;
    background-color:#a8eafa ;
}

.section-map--container h2 {
    color: var(--white);
    margin: 10px 0;
    font-size: 20px
}

.section-map--container iframe {

    margin: 10px;
}

footer {
    min-width: 320px;
    width: 100%;
    height: auto;
    background-color: var(--blue-main);
    text-align: center;
    color: var(--white);
    padding-top: 20px;
    font-size: 13px;
}

footer .redes {
    font-size: 15px;
    padding: 15px 0;
}

footer .redes a {
    text-decoration: none;
    color: var(--white);
}
