
.blog--container-cards {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#header-main {
    text-align: center;
    height: 900px;
}

#header-main img {
    width: 600px;

}


.section-map--container h2 {
    font-size: 35px;
}



.section-map--container iframe {
    margin: 20px 0;
    width: 70%;
}
